      body {
        background-color: #0d0d0d;
      }
      .player {
        background-color: black;
        color: white;
        position: fixed;
        bottom: 0;
        width: 100vw;
      }
      .player_cover {
        width: 100px;
        height: 100px;
      }
      .player_items {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-block: 15px;
      }
      .meta_data {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .player_song {
        width: 600px;
        height: 25px;
        text-align: left;
        margin: 0;
        font-size: 20.5px;
      }
      .artist_label {
        margin: 0;
        font-weight: bolder;
        margin-bottom: 20px;
      }
      .player_artist {
        font-weight: 400;
        font-style: normal;
      }
      .control_bar {
        margin: 0;
        display: flex;
        align-items: center;
        gap: 2rem;
          display: flex;
  align-items: center;
  color: white;
      }
      .playBtn {
        width: 15px;
      }
      .control_bar > a {
        color: white;
        font-size: 1.25rem;
      }


.times {
  display: flex;
}
.seek_slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 5px;
  background: white;
  opacity: 0.7;
}
.seek_slider::-moz-range-thumb {
  background-color: white;
  opacity: 1;
}
.seek_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: white;
  cursor: pointer;
  border-radius: 50%;
}

.slider_container {
  position: relative;
  top: -10px;
}

.seek_slider {
  width: 410px;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ccc;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #0d0d0d;
}

